.mat-mdc-card-image {
  height: 20em;
  width: 15em;
  margin: 0 auto;
}

.mat-mdc-card {
  height: 550px;
}

.content {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

/* zoom-in effect */
.zoom-in {
  transform: scale(1.5);
  transition: transform 0.3s ease-in-out;
}

/* zoom-out effect */
.zoom-out {
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}
